In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 14.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 790.1 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 13.8 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/miguel/Documentos/Ejercicios DA/env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/miguel/Documentos/Ejercicios DA/env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.3 pytz-2022.7.1

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('calls_without_target.csv', sep=';')

       call_id   customer_id              call_ts
0           26     824634901  2019/01/02 08:01:20
1          310     848767976  2019/01/02 08:19:01
2          474  911004092290  2019/01/02 08:27:46
3          574     819317132  2019/01/02 08:31:38
4          625     859430357  2019/01/02 08:33:57
...        ...           ...                  ...
23050   668694     861777456  2019/01/29 17:15:51
23051   668966     848614905  2019/01/29 17:22:03
23052   670789     863484234  2019/01/29 18:06:26
23053   671411  912006228395  2019/01/29 18:24:51
23054   671555     849510938  2019/01/29 18:29:28

[23055 rows x 3 columns]